<% layout('layouts/main.ejs') %>

<div class="card mt-5">
	<div class="card-header">
		<h1>Home</h1>
	</div>
	<div class="card-body">
		<p>Thanks for visiting my example page of a login made with NodeJs, Express and Passport</p>
	</div>
</div>
