<% layout('layouts/main.ejs') %>

<div class="card mt-5">
	<div class="card-header">
		<h1>Profile</h1>
	</div>
	<div class="card-body">
		<p class="fs-5">Email: <%= user.email %></p>
		<p class="fs-5">Password: <%= user.password %></p>
		<p class="fs-5">Id: <%= user.id %></p>
	</div>
</div>
